<h2>This is the article.page section file</h2>

<div>
    <p>{% render 'feature_article', blog_variable: 'First Paragraph' %}</p>
    <p>{% render 'feature_article', blog_variable: 'Second Paragraph' %}</p>
</div>